body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #fff6e6, #ffe0f0);
  margin: 0;
  padding: 0;
  color: #2b2b2b;
}

header {
  background-color: royalblue;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

footer {
  background-color: #ffcc00;
  text-align: center;
  padding: 15px;
  color: #000;
  font-weight: bold;
}

section {
  margin: 20px;
  padding: 20px;
  background: #ffffffc2;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

h2, h3 {
  color: royalred;
  font-weight: 700;
}

input, textarea, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background-color: royalgreen;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #004f00;
}

.task-list div {
  background-color: #f0f8ff;
  margin: 10px 0;
  padding: 15px;
  border-left: 6px solid royalblue;
  border-radius: 8px;
}

.filters button {
  width: auto;
  margin-right: 10px;
  background: pink;
  color: #222;
  font-weight: bold;
  border: none;
}

.filters button:hover {
  background: deeppink;
  color: white;
}

#clock {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: darkblue;
}

#timerDisplay {
  font-size: 1.5rem;
  font-weight: bold;
  color: crimson;
  margin-top: 10px;
}
